*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: goldenrod;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 0.5em;
}

h2 {
  text-transform: capitalize;
}

#drinks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-flow: row dense;
  gap: 1.5rem;
  align-items: start;
  justify-content: center;
  text-align: center;
  padding: 1.5em 0.5em;
}

.drink {
  display: grid;
  gap: 1.5625rem;
  border: 1px solid rgba(128, 128, 128, 0.205);
  padding: 1em;
  background-color: white;
}

img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: block;
}

#error {
  font-size: 5rem;
  /* text-align: center; */
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: red;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1em 0;
}

label {
  display: block;
}

input {
  border: 1px solid grey;
  padding: 0.75em 2.5em;
  border-radius: 15px;
}

button {
  background-color: crimson;
  padding: 0.75em 2.5em;
  border: 1px solid crimson;
  color: white;
  font-family: inherit;
  cursor: pointer;
  border-radius: 15px;
}
